# Flask Configuration
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=your-secret-key-here
SECURITY_PASSWORD_SALT=your-security-salt-here

MAIL_USERNAME=YOUR_USERNAME
MAIL_PASSWORD=YOUR_PASSWORD
MAIL_DEFAULT_SENDER=YOUR_EMAIL

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/yourdatabase

# Application Configuration
APP_NAME=Smart Geo Inventory
APP_VERSION=1.0.0
